/* https://css-tricks.com/snippets/css/a-guide-to-flexbox voor alle verschillende items mogelijk in css */
/* https://www.w3schools.com/css/default.asp voor alle verschillende items mogelijk in css*/
/* https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_col-s */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("fotos/background2.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

/* Navbar css */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 2s;
}
nav ul li a:hover::after{*
width: 100%;
}

/* Over mezelf uitleg css */

#Uitleg{
    padding: 80px 0;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.uitleg-kolom-1{
    flex-basis: 35%;
}
.uitleg-kolom-1 img{
    width: 80%;
    border-radius: 15px;
}
.uitleg-kolom-2{
    flex-basis: 60%;
}
.naam{
    font-size: 60px;
    font-weight: 350;
    color: white;
    text-decoration: underline 5px;

}
.beschrijving{
    font-size: 20px;
    font-weight: 350;
    color: white;
}

/* 3 Titels css */

.tab-titels{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}
.tab-contents ul li span{
    color: aqua;
    font-size: 20px;
    font-weight: 20;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* Eindreflectie css */

.Eindref{
    display: block;
    font-family: 'Comic Sans MS', sans-serif;
    background: aqua;
    color: white;
    padding: 20px;
    cursor: pointer;
    text-decoration: underline;
    width: 50%;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    margin: auto;
}
.row2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.uitleg-kolom-3{
    flex-basis: 50%;
}
.uitleg-kolom-3 img{
    display: flex;
    width: 40%;
    border-radius: 50px;
    margin: 50px;
}
.uitleg-kolom-4{
    flex-basis: 45%;
    margin: auto
;
}
.container2{
    padding: 10px 10%;
}
.Eindref:hover {
    background: darkcyan;

}

/* Projecten css */

.row3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container3{
    padding: 10px 10%;
}
.project-kolom-4{
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}
.project-kolom-4 img{
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}
.wpl2 {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.wpl2 img {
    width: 100%;
    height: auto;
}

.wpl2 p {
    margin-top: 20px;
}
/* CSS MOBILE */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design */
/* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_media_menu */
/* https://www.w3schools.com/css/css_rwd_images.asp */
@media only screen and (max-width: 800px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Comic Sans MS', sans-serif;
        box-sizing: border-box;
    }
    body{
        background: #080808;
        color: #fff;
    }
    #header{
        width: 100%;
        height: 100vh;
        background-image: url("fotos/background2.png");
        background-size: cover;
        background-position: center;
    }
    .container{
        padding: 10px 10%;
    }

    /* Navbar css */

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 200px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: aqua;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 2s;
    }
    nav ul li a:hover::after{*
    width: 100%;
    }

    /* Over mezelf uitleg css */

    #Uitleg{
        padding: 80px 0;
        color: white;
    }
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .uitleg-kolom-1{
        flex-basis: 35%;
    }
    .uitleg-kolom-1 img{
        width: 80%;
        border-radius: 15px;
    }
    .uitleg-kolom-2{
        flex-basis: 60%;
    }
    .naam{
        font-size: 60px;
        font-weight: 350;
        color: white;
        text-decoration: underline 5px;

    }
    .beschrijving{
        font-size: 20px;
        font-weight: 350;
        color: white;
    }

    /* 3 Titels css */

    .tab-titels{
        display: flex;
        margin: 20px 0 40px;
    }
    .tab-links{
        margin-right: 50px;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }
    .tab-links::after {
        content: '';
        width: 0;
        height: 3px;
        background: aqua;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 1s;
    }
    .tab-links.active-link::after{
        width: 50%;
    }
    .tab-contents ul li{
        list-style: none;
        margin: 20px 0;
    }
    .tab-contents ul li span{
        color: aqua;
        font-size: 20px;
        font-weight: 20;
    }
    .tab-contents{
        display: none;
    }
    .tab-contents.active-tab{
        display: block;
    }
    /* Eindreflectie css */

    .Eindref{
        display: block;
        font-family: 'Comic Sans MS', sans-serif;
        background: aqua;
        color: white;
        padding: 20px;
        cursor: pointer;
        text-decoration: underline;
        width: 50%;
        text-align: center;
        border-radius: 30px;
        font-size: 20px;
        margin: auto;
    }
    .row2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .uitleg-kolom-3{
        flex-basis: 50%;
    }
    .uitleg-kolom-3 img{
        display: flex;
        width: 40%;
        border-radius: 50px;
        margin: 50px;
    }
    .uitleg-kolom-4{
        flex-basis: 45%;
        margin: auto
    ;
    }
    .container2{
        padding: 10px 10%;
    }
    .Eindref:hover {
        background: darkcyan;

    }

    /* Projecten css */

    .row3{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .container3{
        padding: 10px 10%;
    }
    .project-kolom-4{
        flex-basis: 20%;
    }
    .project-kolom-4 img{
        display: flex;
        width: 50%;
        border-radius: 10px;
        margin: 20px;
    }
}
